body {
    padding: 0px;
    background-color: black;
}

h1,
h2 {
    color: wheat;
    text-align: center;
}

.options {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
}

button {
    font-size: 40px;
    border-radius: 20px;
    padding: 20px;
    border: 0px;
}

.result {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px 30%;
}

.result div {
    font-size: 100px;
    color: white;
}

.reset {
    display: flex;
    justify-content: center;
}

.reset button {
    font-size: 20px;
    background-color: black;
    border: 1px solid wheat;
    margin-top: 50px;

}

.reset button a {
    color: wheat;
    text-decoration-line: none;
}